@font-face {
    font-family: Khmerkulen;
    src: url(http://127.0.0.1:8000/dist/fonts/KhmerOSKoulen.ttf);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: Khmerkulen !important;
    font-size: 0.885rem !important;
    font-weight: 100;
}
body{
    -webkit-user-select: none;
    background-color: #37174f;
}
.kh{
    font-family: Khmerkulen;
}
.kh1{
    font-family: Khmerkulen;
    font-weight: 100 !important;
}
.required{
    font-weight: 500 !important;
}
.banner{
    width: 100%;
}
.title-form{
    display: flex;
    justify-content: center;
    align-content: center;
}
.title-form p{
    padding: 0px;
    margin: 0px;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}
.form-group p{
    font-size: 0.785rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.khmer-title{
    padding: 0px;
    margin: 0px;
    font-weight: 500;
    font-size: 1.35rem;
    font-family: Khmerkulen;
}
ul{
    list-style: none;
    padding-left: 20px !important;
}
ul li{
    font-weight: 100;
    font-size: 1rem;
    font-family: Khmerkulen;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
    line-height: 30px;
}
.note{
    font-weight: 100;
    font-size: 1.2rem;
    font-family: Khmerkulen;
    letter-spacing: 1.5px;
    line-height: 40px;
    text-align: center;
}
.btn-kh{
    color: #fff;
    font-family: Khmerkulen;
    font-size: 1.5rem;
    background-color: #37174f;
    transition: 0.3s ease-in;
}
.btn-kh:hover{
    color: rgb(255, 255, 255);
    background-color: #3a0e5e;
    transform: scale(1.03);
}
.invalid-feedback{
    margin-top: 5px;
    font-family: Khmerkulen;
    color: rgb(216, 25, 25);
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 1.3px;
}
.feedback{
    margin-top: 5px;
    font-family: Khmerkulen;
    color: rgb(216, 25, 25);
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 1.3px;
}
.modal-title{
    font-family: Khmerkulen;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.modal-header{
    align-self: center;
    border: none;
}
.modal-footer{
    border: none;
}
#d-name{
    padding-top: 15px;
    font-family: Khmerkulen;
    font-size: 0.9rem;
    font-weight: 100;
    letter-spacing: 1.2px;
}
td, th{
    border: none !important;
}